@charset "UTF-8";

body{
	color:brown;
	text-align:center;
	font-family:"serial";
	background-color:#f2ebe1;
	   
	
}

 table{
  border-collapse: collapse;
  text-align:center;
  position:center;
  
  
}
td{
  border: 2px solid black;
  padding: 10px;
     border-radius: 10px;
}
    
     